header {
	svg {
		stroke: var(--green-accent);
		height: 0.7rem;
	}
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	padding: 1rem 1rem 0;
}

main {
	padding: 1rem;
	p {
		margin-bottom: 1rem;
	}

	p:has(+ h2) {
		margin-bottom: 1.5rem;
	}

	p:last-of-type {
		margin-bottom: 2.5rem;
	}
}

.leerdoel {
    h2 {
        text-align: center;
    }
    mark{
        background-color: var(--red-mark);
    }
	p {
		margin-top: 1rem;
		line-height: 1.5;
	}

	div {
		color: var(--pencil-text);

		p {
            margin: 0;
            text-align: right;
			&::before {
				content: "";
				display: inline-block;
				width: 1rem;
				height: 1rem;
				background-color: var(--pencil-text);
				mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 61.5 63.04'%3E%3Cpath d='M57.54,40.79c2.62,1.18,4.21,3.53,3.94,6.29-1.87,1.28-3.76,2.44-5.43,3.91-4.72,4.18-9.75,7.55-15.22,10.72-1.9,1.1-4.26,2.05-6.28.54-.11-1.66,1.28-3.57,2.73-4.46l9.83-6.06c-7.91,1.61-15.29,1.5-22.88-.53-3.19-.85-6.41-1.61-9.31-3.28C3.59,41.42,1.12,28.5.16,16-.27,10.53.08,5.28,2.4,0c.82,1.07.95,2.48.79,3.85-.51,4.14-.53,8.06.32,12.16,1.09,5.32,2.27,10.52,4.36,15.58,1.67,4.04,4.84,7.66,8.43,10.06,4,2.68,8.6,3.73,13.33,4.6,7.65,1.41,15.26.52,22.8-1.39l-7.22-2.46c-3.72-1.27-6.91-4.03-8.24-7.8,4.25-.66,7.97.49,11.52,2.09l9.06,4.1Z'/%3E%3C/svg%3E");
				mask-size: contain;
				mask-repeat: no-repeat;
				padding-right: 0.3rem;
			}
		}
	}
}
